/* body{
  margin: 0;
  box-sizing: border-box;  
  font-family: 'Roboto', sans-serif;
} */

/* .registration-page{
  border:  5px solid red;
}
#form{
  justify-content: center;
}
.row-gap-3 {
 
  box-shadow: 5px 5px 10px 10px ;
}
.container{
   box-shadow: 5px 5px 10px 10px ;
   height: 100%;
} */